<head>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<div >
		<img src="../../../assets/aboutus.jpg" height="50%" responsive="true" alt="" style="width:100%;display:block;" >
</div>
<!-- Services section -->
	<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">What we do</h2>
			<p class="text-center text-muted h5">Having and managing a correct marketing strategy is crucial in a fast moving market.</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">India’s Fastest Network</h3>
							<p class="card-text">Third time in a Row by Veritas, one of the best speed test providers.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Phoenix Prepaid</h3>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Phoenix Postpaid</h3>
							<p class="card-text"> Enjoy unlimited Local, STD and national roaming calls along with loads of 4G data with our unlimited Postpaid plans.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Phoenix prepaid</h3>
							<p class="card-text">Now choose from a range of best-selling Airtel prepaid recharge packs which provide you unlimited calling, 4G internet, prepaid recharge offers online.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Phoenix Business</h3>
							<p class="card-text">We provides a broad portfolio of services to large Enterprise, Government, Small & Medium businesses and carrier customers. It is India's leading and most trusted provider of communication and ICT services.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Easy Recharge, Easier Life</h3>
							<p class="card-text">Now you can easily recharge your account online or offline. Recharging made easy.</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- /Services section -->