

<h3>
  Welcome To Triangle Towers Bill Payment Portal
</h3>
<p>
<img src="./src/app/1.png"  class="pict" alt="paying bills">
</p>

<div class="container info">
 <p>
    At Triangle Towers we offer Telecom Towers that are Shared by all the Telecom Operators in India. 
    Be it 2G, 3G, 4G or futuristic 5G, we enable the Telecom Networks, through our 28,000 
    Telecom Towers located across all the 22 Telecom Circles.

    By using our infrastructure, Telecom Operators build, operate and manage 
    their networks, while saving on CAPEX and OPEX. As a pioneer in the field, 
    we understand Telecom Operators’ needs and challenges as well as dynamics of the market.
    
    Our state of the art infrastructure offers high availability network,
     backed by stringent Service Level Agreement.
 <br>
 <br>
 <br>
  Use out Online Bill Payment Website for Easy and Quick Bill Payments

 </p> 
</div>