<div class="container">



  <h3>customer ID : {{ customer.govtID }}</h3>




  <!--dl class="list det" *ngFor="let cust of customer">
    <dt>Customer Name</dt>
    <dd>{{cust.custName}}</dd><br>
    <dt>Govt ID</dt>
    <dd>{{cust.govtID}}</dd><br>
    <dt>Telecom Circle</dt>
    <dd>{{ cust.telecomCircle }}</dd><br>
    <dt>VAS</dt>
    <dd>{{ cust.vas }}</dd><br>
    <dt>Pending Bills</dt>
    <dd>{{ cust.pbills}}</dd><br>
    <dt>Customer Type</dt>
    <dd>{{ cust.custType }}</dd><br>
  </dl-->

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>govtID</th>
          <th>Customer name</th>
          <th>tel circle</th>
          <th>vas</th>
          <th>pending customers</th>
          <th>cust type</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ customer.govtID }}</td>
          <td>{{ customer.custName }}</td>
          <td>{{ customer.telecomCircle }}</td>
          <td>{{ customer.vas }}</td>
          <td>{{ customer.pbills }}</td>
          <td>{{ customer.custType }}</td>
        </tr>
      </tbody>
    </table>

</div>
<div class="row pay">
  <div class="col-md-12">
    <a routerLink="../../customeredit/{{customer.govtID}}" class="btn btn-success myButton">Edit</a>
    <!-- <a [routerLink]="['../customeredit', customer.govtID]" class="btn btn-success myButton">Edit</a> -->
    <!-- <td><a routerLink="../customerdetail/{{c.govtID}}">Show Detail</a></td> -->
    <button class="btn btn-danger" type="button" (click)="deleteCustomer(customer.govtID)">DELETE</button>
  </div>
</div>