<html>

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
</head>

<body>
  <br>
  <div class="container-fluid">
    <carousel>
      <slide>
        <div class="image">
          <img src="../../../assets/avi-richards-183715.jpg" alt="">
          <div class="overlay-color"></div>
          <div class="content">
            <h2>Don't let anything stop you</h2>
            <p>Pheonix Com provides broadband speed over wireless</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="image">
          <img src="../../../assets/pavan-trikutam-1660.jpg" alt="">
          <div class="overlay-color"></div>
          <div class="content">
            <h2>Upgrade to LTE</h2>
            <p>Don't let the past hold you back</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="image">
          <img src="../../../assets/daniel-josef-540635.jpg" alt="">
          <div class="overlay-color"></div>
          <div class="content">
            <h2>Game On!</h2>
            <p>May your pings be low, and K/D be high</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="image">
          <img src="../../../assets/galen-crout-175291.jpg" alt="">
          <div class="overlay-color"></div>
          <div class="content">
            <h2>To the Moon and back...</h2>
            <p>ISRO tests Pheonix Com links for 2020 manned-mission</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="image">
          <img src="../../../assets/rawpixel-741658.jpg" alt="">
          <div class="overlay-color"></div>
          <div class="content">
            <h2>Pocket-friendly Plans</h2>
            <p>Because good speeds doesn't mean a hole in your pocket</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
  <br>

  <div id="counter">
    <div class="container">
      <div class="row count-to-sec">
        <div class="col-lg-3 col-md-6 col-xs-12 count-one">
          <span class="icon"><i class="fa fa-download"> </i></span>
          <h3 class="timer count-value" data-to="561" data-speed="1000">561</h3>
          <hr class="width25-divider">
          <small class="count-title">Downloads</small>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 count-one">
          <span class="icon"><i class="fa fa-user"> </i></span>
          <h3 class="timer count-value" data-to="950" data-speed="1000">6</h3>
          <hr class="width25-divider">
          <small class="count-title">Developers</small>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 count-one">
          <span class="icon"><i class="fa fa-desktop"> </i></span>
          <h3 class="timer count-value" data-to="978" data-speed="1000">978</h3>
          <hr class="width25-divider">
          <small class="count-title">Lines of code written</small>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 count-one">
          <span class="icon"><i class="fa fa-coffee"> </i></span>
          <h3 class="timer count-value" data-to="65" data-speed="1000">65</h3>
          <hr class="width25-divider">
          <small class="count-title">Cups of coffee consumed</small>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

</body>

</html>